.idea
Fire_detection_yolo.ipynb
Fire_detection_yolo
Wildfire-2
*.ipynb
*.avi
t.py
__pycache__/
bus.jpg
qodana.yaml
venv/
*.pt
yolov8n.pt
yolov8s.pt
yolov8m.pt
yolov8l.pt
yolov8x.pt
best.pt
last.pt
Fire-Detection-6